<!-- about.html (the extended content) -->
{% extends "baseCSM.html" %}

{% block title %}About Our Team{% endblock %}

{% block content %}

<div class="flex-container-col">
    <div class="rounded-rectangle-about" id="before">

        <div class="team-member">
            <img src="../static/pp_DrAmelia.png" alt="Amelia Ritahani's Profile Picture" class="profile-picture">
            <div class="profile-description">
                <h2>Amelia Ritahani Bt. Ismail (Assoc. Prof. Ts. Dr.)</h2>
                <p>Amelia Ritahani is our ML specialist, dedicated to addressing concerns of security of ML models when handling sensitive information. With her extensive expertise, she ensures the robustness and privacy of our machine learning solutions.</p>
            </div>
        </div>

        <div class="team-member">
            <img src="../static/pp_DrAmir.png" alt="Amir 'Aatieff's Profile Picture" class="profile-picture">
            <div class="profile-description">
                <h2>Amir 'Aatieff Bin Amir Hussin (Dr.)</h2>
                <p>Amir 'Aatieff, our de-identification expert, leads the exploration of various de-identification methods. His research and guidance contribute significantly to enhancing the privacy and anonymization aspects of our projects.</p>
            </div>
        </div>

        <div class="team-member">
            <img src="../static/pp_Faris.png" alt="Faris Farhan's Profile Picture" class="profile-picture">
            <div class="profile-description">
                <h2>Faris Farhan bin Azlan</h2>
                <p>Faris Farhan, our MLOps Engineer, operates at the intersection of ML Deployment, Model Performance, and Data Privacy. He's in charge of the seamless deployment and optimal performance of our machine learning models while maintaining the highest standards of data privacy.</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}

{% endblock %}
