<!-- about.html (the extended content) -->
{% extends "baseCSM.html" %}

{% block title %}About Our Team{% endblock %}

{% block content %}

<div class="flex-container-col">
    <div class="rounded-rectangle-about" id="before">

        <div class="team-member">
            <img src="../static/pp_DrAmelia.png" alt="John Doe's Profile Picture" class="profile-picture">
            <div class="profile-description">
                <h2>Amelia Ritahani Bt. Ismail (Assoc. Prof. Ts. Dr.)</h2>
                <p>Amelia Ritahani is our ML specialist, dedicated to adress concerns of security of ML models when handling sensitive information.</p>
            </div>
        </div>

        <div class="team-member">
            <img src="../static/pp_DrAmir.png" alt="Jane Smith's Profile Picture" class="profile-picture">
            <div class="profile-description">
                <h2>Amir 'Aatieff Bin Amir Hussin (Dr.)</h2>
                <p>Amir 'Aatieff, our de-identification expert, leads the exploration of various de-identification methods.  </p>
            </div>
        </div>

        <div class="team-member">
            <img src="../static/pp_Faris.png" alt="Robert Johnson's Profile Picture" class="profile-picture">
            <div class="profile-description">
                <h2>Faris Farhan bin Azlan</h2>
                <p>Faris Farhan, our MLOps Engineer, is at the intersection of ML Deployment, Model Performance and Data Privacy.  </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}

{% endblock %}