<!-- home.html (the extended content) -->
{% extends "baseCSM.html" %}

{% block title %}CSV File Actions{% endblock %}

{% block content %}

<div class="flex-container-col">
    <div class="rounded-rectangle-home" id="before">
        <div class="rounded-rectangle-home3">
            <h2>Protecting Sensitive Data in Machine Learning</h2>
            <p>Are you concerned about the security of your machine learning models when handling sensitive information?
                <br>Our Machine Learning Evaluator is designed to put your worries to rest by testing out various de-identification techniques.
                <br>But what exactly is de-identification?</p>
        </div>

        <div class="rounded-rectangle-home3">
            <h2>Understanding De-Identification</h2>
            <p>De-Identification is the process of removing or modifying personally identifiable information (PII) from datasets, while still retaining their analytical utility. The goal is to safeguard privacy and adhere to data protection regulations while ensuring that the data remains useful for analysis. Our evaluator explores a variety of de-identification methods, from simple masking to advanced anonymization, to see which ones have the most significant impact on security without sacrificing model performance.</p>
        </div>

        <div class="rounded-rectangle-home3">
            <!-- <h2>Data Privacy De-Identification in Machine Learning Models</h2> -->
            <h2>Machine Learning Evaluator for De-Identification Techniques</h2>
            <p>Discover how data privacy and de-identification techniques intersect with machine learning models like Classification, Regression, and Clustering. Our Machine Learning Evaluator not only helps you assess different de-identification techniques but also guides you through the process of applying them to various types of models. We examine how these techniques can balance privacy protection with accurate model outcomes, ensuring your models are both secure and effective.</p>
        </div>
    </div>
</div>



{% endblock %}

{% block script %}

{% endblock %}
